body {
  background-color: white;
}

.section-one {
  width: 95vw;
  height: 215px;
  background-color: white;
  border: solid black;
  margin: 0 auto;
  margin-top: 20px;
}

.purple-rectangle {
  height: 150px;
  width: 50px;
  background-color: rebeccapurple;
  display: inline-block;
  margin-left: 10px;
  margin-top: 55px;
}

.green-rectangle {
  height: 195px;
  width: 400px;
  display: inline-block;
  margin-left: 45px;
  background-color: rgb(4, 109, 4);
}

.blue-circle {
  height: 192px;
  width: 192px;
  border-radius: 50%;
  background-color: skyblue;
  display: inline-block;
  margin-left: 45px;
}

.section-two {
  width: 95vw;
  height: 310px;
  background-color: white;
  border: 3px dotted black;
  margin: 0 auto;
  margin-top: 20px;
}

.tan-rectangle {
  width: 85vw;
  height: 250px;
  background-color: lemonchiffon;
  box-shadow: 6px 5px 7px 0px black;
  margin-top: 30px;
  margin-left: 75px;
}

.section-three {
  width: 52vw;
  height: 335px;
  background-color: white;
  border-left: solid;
  border-top: solid; 
  border-width: thin;
  border-color: rgb(179, 172, 172); 
  box-shadow: 3px 3px rgb(179, 172, 172);
  margin: 0 auto;
  margin-top: 25px;
}

.section-three h1 {
  color: navy;
  width: 40%;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  margin-left: 150px;
  margin-top: 150px;
  letter-spacing: 10px;
}