body {
  background-color: rgb(223, 221, 221);
}

header {
  background-color: rgb(65, 63, 63);
  min-height: 15vh;
}

main {
  background-color: white;
  min-height: 75vh;
  margin-left: 150px;
  margin-right: 150px;
}

footer {
  background-color: rgb(29, 26, 26);
  height: 10vh;
  margin-left: 150px;
  margin-right: 150px;
}